
.header {
    background-color: gainsboro;
    font-size: 25px;
    padding : 10px;
    width: 90%;
    height: 30%;
    font-family: 'Quicksand',sans-serif;
    text-align: center;
    margin: auto;
    border-style: double;
    border-radius: 5px;
    border-width: 10px;
    
}

.content {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Quicksand',sans-serif;
}

.pwFeedback,.cmdFeedback
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;   
}

.buttonStart,.buttonSpawn{
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: dimgray;
    color: snow;

}

.scoreboard {
    display : grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    font-size: 25px;
    font-family: 'Quicksand',sans-serif;
    align-items: center;
    margin: auto;
}
.scoreboard_name,
.scoreboard_point{
    padding: 10px;
    font-size: 35px;
    text-align: center;
}
.scoreboard_mission{
    background-color:crimson;
    border-radius: 50%;
    border-style: inset;
    border-width: 5px;
    border-color:rgb(202, 183, 172);
    width: 30px;
    height: 30px;
    margin: auto;
}

.scoreboard_name{
    margin-top: 10%;
    font-weight: bold;
    border-bottom: 3px solid dimgray;
    border-top: 3px solid dimgray;
}

.scoreboard_control{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.scoreboard_control_button{
    /* flex-grow: 1; */
    width: 10%;
    border : none;
    border-color: dimgray;
    cursor: pointer;
    background: gainsboro;
    font-size: 20px;
    text-align: center;
}

.scoreboard_control_button:hover ,.buttonStart:hover ,.buttonSpawn:hover , .scoreboard_force_button:hover  {
    background: rgb(168, 167, 167);
}

.scoreboard_control_button:active ,.buttonStart:active ,.buttonSpawn:active , .scoreboard_force_button:active {
    background: gainsboro;
}
.scoreboard_force_button{
    margin-top: 2%;
    width: 10%;
    border : solid;
    border-color: chartreuse;
    cursor: pointer;
    background: chartreuse;
    font-size: 20px;
    border-radius: 5px;
    justify-self: center;
}